form {
    margin: 1rem;
}
span {
    margin-left: 1rem;
}
#gameWinner, #gameInfo {
    margin: 1rem 0 0 1rem;
}
h1 {
    margin-left: 0.5rem;
}
#userNumb {
    margin: 0 10px;
}
label {
    margin-left: 5px;
}
